<tbody>
<tr>
    <td style="padding:24px;text-align:center">
        <table role="presentation" valign="top" border="0" cellspacing="0" cellpadding="0" width="100%"
               style="min-width:100%">
            <tbody>
            <tr>
                <td align="left" valign="middle"><a
                        href="https://www.linkedin.com/comm/feed/?lipi=urn%3Ali%3Apage%3Aemail_security_reset_password_notification%3BvTh9RbKqQQ%2BHWbQZ9Mrd9w%3D%3D&amp;midToken=AQGGZxpgvS5aLQ&amp;midSig=0SSXhj7oCMQrw1&amp;trk=eml-security_reset_password_notification-header-0-home_glimmer%20%20&amp;trkEmail=eml-security_reset_password_notification-header-0-home_glimmer%20%20-null-arbr0n~m4ashi5h~6i-null-null&amp;eid=arbr0n-m4ashi5h-6i"
                        style="color:#0a66c2;display:inline-block;text-decoration:none;width:84px" target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/comm/feed/?lipi%3Durn%253Ali%253Apage%253Aemail_security_reset_password_notification%253BvTh9RbKqQQ%252BHWbQZ9Mrd9w%253D%253D%26midToken%3DAQGGZxpgvS5aLQ%26midSig%3D0SSXhj7oCMQrw1%26trk%3Deml-security_reset_password_notification-header-0-home_glimmer%2520%2520%26trkEmail%3Deml-security_reset_password_notification-header-0-home_glimmer%2520%2520-null-arbr0n~m4ashi5h~6i-null-null%26eid%3Darbr0n-m4ashi5h-6i&amp;source=gmail&amp;ust=1736329074107000&amp;usg=AOvVaw02AHhK-YIX7872dxKrzChv">
                    <img alt="LinkedIn"
                         src="https://ci3.googleusercontent.com/meips/ADKq_NaZS80lJKKLmNWJbywLi3-jL3P8kFjdgCFzkf0a8q_y3PqMIkP33vZjoMOTXpjrwVWBEkCT00SFqqw25LqKDg26-N7T-ACNc2svYj3RVaPB2cBiRYM=s0-d-e1-ft#https://static.licdn.com/aero-v1/sc/h/9ehe6n39fa07dc5edzv0rla4e"
                         style="outline:none;text-decoration:none;height:21px;width:84px" width="84" height="21"
                         class="CToWUd" data-bit="iit"> </a></td>
                <td valign="middle" align="right">
                    <table role="presentation" valign="top" border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                        <tr>
                            <td align="right" valign="middle"><a
                                    href="https://vn.linkedin.com/comm/in/tran-trung-31ba55161?lipi=urn%3Ali%3Apage%3Aemail_security_reset_password_notification%3BvTh9RbKqQQ%2BHWbQZ9Mrd9w%3D%3D&amp;midToken=AQGGZxpgvS5aLQ&amp;midSig=0SSXhj7oCMQrw1&amp;trk=eml-security_reset_password_notification-header-0-profile_glimmer&amp;trkEmail=eml-security_reset_password_notification-header-0-profile_glimmer-null-arbr0n~m4ashi5h~6i-null-null&amp;eid=arbr0n-m4ashi5h-6i"
                                    style="color:#0a66c2;display:inline-block;text-decoration:none" target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=https://vn.linkedin.com/comm/in/tran-trung-31ba55161?lipi%3Durn%253Ali%253Apage%253Aemail_security_reset_password_notification%253BvTh9RbKqQQ%252BHWbQZ9Mrd9w%253D%253D%26midToken%3DAQGGZxpgvS5aLQ%26midSig%3D0SSXhj7oCMQrw1%26trk%3Deml-security_reset_password_notification-header-0-profile_glimmer%26trkEmail%3Deml-security_reset_password_notification-header-0-profile_glimmer-null-arbr0n~m4ashi5h~6i-null-null%26eid%3Darbr0n-m4ashi5h-6i&amp;source=gmail&amp;ust=1736329074107000&amp;usg=AOvVaw2mURYv2iYy-7v3ZSabWm5h">
                                <span style="color:#282828;text-decoration-line:none">Tran Trung</span> </a></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td style="padding-left:24px;padding-right:24px;padding-bottom:24px">
        <div>
            <table role="presentation" valign="top" border="0" cellspacing="0" cellpadding="0" width="100%">
                <tbody>
                <tr>
                    <td>
                        <table role="presentation" valign="top" border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                            <tr>
                                <td><p style="margin:0;font-weight:400;font-size:16px;line-height:1.5">Hi Tran,</p></td>
                            </tr>
                            <tr>
                                <td style="padding-top:24px"><p
                                        style="margin:0;font-weight:400;font-size:16px;line-height:1.5">You've
                                    successfully changed your LinkedIn password.</p></td>
                            </tr>
                            <tr>
                                <td style="padding-top:24px"><p
                                        style="margin:0;font-weight:400;font-size:16px;line-height:1.5">Thanks for using
                                    LinkedIn!<br>The LinkedIn Team</p></td>
                            </tr>
                            <tr>
                                <td style="padding-top:24px"><p
                                        style="margin:0;font-weight:400;font-size:16px;line-height:1.5">When and where
                                    this happened:<br>Date: December 5, 2024 GMT<br>Browser: Chrome Mobile iOS<br>Operating
                                    System: iOS<br>Approximate Location: Thanh Pho Ho Chi Minh, Ho Chi Minh, Vietnam</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:24px"><p
                                        style="margin:0;font-weight:400;font-size:16px;line-height:1.5"><strong>Didn't
                                    do this?</strong> Be sure to <a
                                        href="https://www.linkedin.com/e/v2?urlhash=yJya&amp;url=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fuas%2Frequest-password-reset%3F_l%3Den_US&amp;lipi=urn%3Ali%3Apage%3Aemail_security_reset_password_notification%3BvTh9RbKqQQ%2BHWbQZ9Mrd9w%3D%3D&amp;midToken=AQGGZxpgvS5aLQ&amp;midSig=0SSXhj7oCMQrw1&amp;ek=security_reset_password_notification&amp;e=arbr0n-m4ashi5h-6i&amp;eid=arbr0n-m4ashi5h-6i&amp;m=null&amp;ts=null&amp;li=0&amp;t=plh"
                                        title="change your password"
                                        style="color:#0a66c2;display:inline-block;text-decoration:none" target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/e/v2?urlhash%3DyJya%26url%3Dhttps%253A%252F%252Fwww%252Elinkedin%252Ecom%252Fuas%252Frequest-password-reset%253F_l%253Den_US%26lipi%3Durn%253Ali%253Apage%253Aemail_security_reset_password_notification%253BvTh9RbKqQQ%252BHWbQZ9Mrd9w%253D%253D%26midToken%3DAQGGZxpgvS5aLQ%26midSig%3D0SSXhj7oCMQrw1%26ek%3Dsecurity_reset_password_notification%26e%3Darbr0n-m4ashi5h-6i%26eid%3Darbr0n-m4ashi5h-6i%26m%3Dnull%26ts%3Dnull%26li%3D0%26t%3Dplh&amp;source=gmail&amp;ust=1736329074107000&amp;usg=AOvVaw0Oyw4SYPz7YJ4K6RfbugkC">change
                                    your password</a> right away.</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </td>
</tr>
</tbody>